In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations
from itertools import product

In [3]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
797,tt1598778,60000000,135458097,Contagion,Matt Damon|Gwyneth Paltrow|Kate Winslet|Jude L...,Steven Soderbergh,Nothing spreads like fear,Contagion follows the rapid progress of a leth...,106,Drama|Thriller|Science Fiction,Double Feature Films|Regency Enterprises|Warne...,9/8/2011,6.1,2011
314,tt1045772,13000000,10652035,I Love You Phillip Morris,Jim Carrey|Ewan McGregor|Leslie Mann|Rodrigo S...,Glenn Ficarra|John Requa,The Conman who wouldn't go straight.,Bad Santa co-screenwriters Glenn Ficara and Jo...,98,Comedy|Drama|Romance,EuropaCorp,1/18/2009,6.3,2009
756,tt1222817,80000000,169852759,Zookeeper,Kevin James|Rosario Dawson|Sylvester Stallone|...,Frank Coraci,Welcome to his jungle.,A comedy about a zookeeper who might be great ...,102,Comedy|Romance|Family,Columbia Pictures|Happy Madison Productions|So...,7/6/2011,5.4,2011
800,tt1268799,19000000,35387212,A Very Harold & Kumar Christmas,Neil Patrick Harris|John Cho|Elias Koteas|Dann...,Todd Strauss-Schulson,Christmas comes prematurely.,"Six years have elapsed since Guantanamo Bay, l...",108,Comedy,New Line Cinema|Mandate Pictures,11/4/2011,6.0,2011
1874,tt0202402,15000000,9902115,Whatever It Takes,Jodi Lyn O'Keefe|Shane West|Marla Sokoloff|Jam...,David Raynr,How low will they go to get the girls of their...,"A nerdy teen, Ryan Woodman is smitten with the...",94,Drama|Comedy|Romance,Columbia Pictures Corporation,3/31/2000,5.0,2000

In [4]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [5]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
data["release_date"] = pd.to_datetime(data["release_date"])

# Для решения части заданий нам потребуется знать
# прибыль (убыток) каждого фильма.
data['profit'] = data['revenue'] - data['budget']

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [7]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

# +

ВАРИАНТ 1

In [8]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000

ВАРИАНТ 2

In [9]:
# можно добавлять разные варианты решения
data.sort_values(by='budget', ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000

# 2. Какой из фильмов самый длительный (в минутах)?

In [10]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

# +

data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2003-02-21,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [11]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

# +

data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2011-04-13,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [12]:
answers['4'] = '2. 110'

# +

average_runtime = round(data.runtime.mean(), 0)
average_runtime

110.0

# 5. Каково медианное значение длительности фильмов?

In [13]:
answers['5'] = '1. 107'

# +

median_runtime = data.runtime.median()
median_runtime

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [14]:
answers['6'] = '5. Avatar (tt0499549)'

# +

# Расчет финансового результата и добавление столбца 'profit'
# Вынесено в раздел "Предобработка"

data.sort_values('profit', ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,2009-12-10,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [15]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

# +

data.sort_values('profit', ascending=True).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [16]:
answers['8'] = '1. 1478'

# +

len(data.query('profit > 0'))

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [17]:
answers['9'] = '4. The Dark Knight (tt0468569)'

# +

# Применим фильтрацию, оставив только фильмы 2008 года
# Примени сортировку по кассовым сборам
data.query('release_year == 2008').sort_values('revenue', ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [18]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

# +

# Применим фильтрацию с двойным условием,
# оставив только фильмы 2012-2014 годов
# Примени сортировку по финансовому результату
data.query('2012 <= release_year <= 2014').sort_values('profit', ascending=True).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [19]:
answers['11'] = '3. Drama'

# +

# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
pd.Series(data['genres'].str.cat(sep='|').split('|')).value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

ВАРИАНТ 2

In [20]:
# Применим Counter для подсчета жанров

genre_count = Counter()
for genre in data.genres.str.split('|'):
    genre_count += Counter(genre)
    
genre_count.most_common()

[('Drama', 782),
 ('Comedy', 683),
 ('Thriller', 596),
 ('Action', 582),
 ('Adventure', 415),
 ('Crime', 315),
 ('Romance', 308),
 ('Family', 260),
 ('Science Fiction', 248),
 ('Fantasy', 222),
 ('Horror', 176),
 ('Mystery', 168),
 ('Animation', 139),
 ('Music', 64),
 ('History', 62),
 ('War', 58),
 ('Western', 19),
 ('Documentary', 8),
 ('Foreign', 2)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [21]:
answers['12'] = '1. Drama'

# +

# Сформируем датафрейм, в котором будут только прибыльные фильмы
profitable_movies = data[(data.profit > 0)]

pd.Series(profitable_movies['genres'].str.cat(sep='|').split('|')).value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [22]:
answers['13'] = '5. Peter Jackson'

# +

# Создадим копию датафрейма для работы с режиссерами
directors_divided = data.copy()

# Разобьем строки с именами режиссеров
# Продублируем строки фильмов, снятых несколькими режиссерами
# Определим для каждой такой строки "своего" режиссера из команды
directors_divided['directors'] = data.director.str.split('|')
directors_divided = directors_divided.explode('directors')

directors_divided.groupby(by="directors").sum().sort_values('revenue', ascending=False).head(1)

,budget,revenue,runtime,vote_average,release_year,profit
directors,,,,,,
Peter Jackson,1288000000,6490593685,1355,58.1,16059,5202593685

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [23]:
answers['14'] = '3. Robert Rodriguez'

# +

# Создадим копию датафрейма для работы с экшн-фильмами
action_movies = data[data.genres.str.contains('Action')].copy()

# Разобьем строки с именами режиссеров
# Продублируем строки фильмов, снятых несколькими режиссерами
# Определим для каждой такой строки "своего" режиссера из команды
action_movies.director = action_movies.director.str.split('|', expand=True)

action_movies.director.value_counts()

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Dito Montiel          1
Philip G. Atwell      1
Gareth Edwards        1
Bruce Hunt            1
John Herzfeld         1
Name: director, Length: 341, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [24]:
answers['15'] = '3. Chris Hemsworth'

# +

#Создадим копию датафрейма, в которой будут только фильмы 2012 года
movies_from_2012 = data[data['release_year'] == 2012].copy()

# Разобьем строки с кастом
# Продублируем строки фильмов, где в съемках участвовало несколько актеров
# Определим для каждой такой строки "своего" актера из каста
movies_from_2012['actors'] = movies_from_2012.cast.str.split('|')
movies_from_2012_actors = movies_from_2012.explode('actors')

# Сгруппируем датафрейм по актерам
# Рассортируем его по сумме кассовых сборов
movies_from_2012_actors.groupby(['actors'])['revenue'].sum().sort_values(ascending=False)

actors
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [25]:
answers['16'] = '3. Matt Damon'

# +

# Создадим копию датафрейма с высокобюджетными фильмами
high_budget_movies = data[data.budget > data.budget.mean()].copy()

# Разобьем строки с кастом
# Продублируем строки фильмов, где в съемках участвовало несколько актеров
# Определим для каждой такой строки "своего" актера из каста
high_budget_movies['actors'] = high_budget_movies.cast.str.split('|')
high_budget_movies_actors = high_budget_movies.explode('actors')

# Сгруппируем датафрейм по актерам
# Рассортируем его по любому столбцу и посчитаем число непустых строк
high_budget_movies_actors.groupby(['actors'])['budget'].count().sort_values(ascending=False)

actors
Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Eddie Murphy         15
Samuel L. Jackson    15
                     ..
Leslie Bibb           1
Leonard Nimoy         1
Lennie James          1
Lena Olin             1
50 Cent               1
Name: budget, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [26]:
answers['17'] = '2. Action'

# +

# Разобьем строки с перечнем жанров
# Продублируем строки фильмов, где в описании указано несколько жанров
# Определим для каждой такой строки "свой" жанр из перечня
data['genre_name'] = data.genres.str.split('|')
movies_genre_divided = data.explode('genre_name')

# Определим строки, содержащие Николаса Кейджа
nicolas_cage_movies = movies_genre_divided[movies_genre_divided.cast.str.contains('Nicolas Cage')].copy()
# Посчитаем количество таких строк
nicolas_cage_movies.genre_name.value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Family              3
Animation           3
History             2
Horror              1
War                 1
Romance             1
Name: genre_name, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [27]:
answers['18'] = '1. K-19: The Widowmaker'

# +

# Сформируем датафрейм, содержащий фильмы студии Парамаунт
paramount_df = data[data['production_companies'].str.contains('Paramount Pictures')]

# Методов сортировки по столбцу найдем самый убиыточный фильм
paramount_df.sort_values('profit', ascending=True).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,genre_name
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,2002-07-19,6.0,2002,-64831034,"[Thriller, Drama, History]"

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [28]:
answers['19'] = '5. 2015'

# +

# Сформируем на основе датафрейма сводную таблицу
# В которую поместим год релиза и сумму кассовых сборов
table = pd.pivot_table(data, values='revenue', columns=['release_year'], aggfunc=sum)

# Отсортируем сводную таблицу по сумме кассовых сборов
# Транспонируем таблицу для удобства чтения
table.T.sort_values('revenue', ascending=False)

                  revenue
release_year
2015          25449202382
2014          23405862953
2013          23213799791
2012          23079001687
2011          22676791872
2010          21071204961
2009          20261791024
2008          18252781990
2007          18162406801
2004          15663430720
2005          15309425558
2006          14775042320
2003          14346123312
2002          14136361487
2001          13017764865
2000          10664099805

# 20. Какой самый прибыльный год для студии Warner Bros?

In [29]:
answers['20'] = '1. 2014'

# +

# Сформируем датафрейм, содержащий фильмы студии Уорнер
warner_df = data[data['production_companies'].str.contains('Warner Bros')]

# Сформируем на основе датафрейма сводную таблицу
# В которую поместим год релиза и финансовый результат (сумму прибылей-убыткой)
warner_yearly_profit = pd.pivot_table(warner_df, values='profit', columns=['release_year'], aggfunc=sum)

# Отсортируем сводную таблицу по финансовому результату года
# Транспонируем таблицу для удобства чтения
warner_yearly_profit.T.sort_values('profit', ascending=False)

                  profit
release_year
2014          2295464519
2007          2201675217
2008          2134595031
2010          1974712985
2011          1871393682
2003          1855493377
2009          1822454136
2013          1636453400
2004          1631933725
2005          1551980298
2001          1343545668
2012          1258020056
2002          1022709901
2015           870368348
2006           620170743
2000           452631386

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [30]:
answers['21'] = '4. Сентябрь'

# +

# Добавив к датафрейму столбец, содержащий порядковый номер месяца от 1 до 12
data['release_month'] = data['release_date'].map(lambda date: date.month)

# Сформируем сводную таблицу, содержащую
# порядковые номера месяцев и количество фильмов
movies_by_month = pd.pivot_table(data, values='original_title', columns=['release_month'], aggfunc=len)

# Отсортируем сводную таблицу по количеству фильмов
# Транспонируем таблицу для удобства чтения
movies_by_month.T.sort_values('original_title', ascending=False)

               original_title
release_month
9                         227
12                        190
10                        186
8                         161
3                         156
4                         149
6                         147
11                        146
7                         142
5                         140
2                         135
1                         110

Можете использовать метод .month(), он работает для типа datetime. Чтобы преобразовать значение к этому типу, можно использовать функцию to_datetime из библиотеки pandas

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [31]:
answers['22'] = '2. 450'

# +

# Сформируем датафрейм, содержащий только фильмы
# с порядковыми номера месяцев релиза с 6 по 8
# (применим множественное условие "ИЛИ")
summer_movies = data[(data['release_month'] == 6)
                     | (data['release_month'] == 7)
                     | (data['release_month'] == 8)]

# Посчитаем длину датафрейма (количество фильмов)
len(summer_movies)

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [33]:
answers['23'] = '5. Peter Jackson'

# +

# Сформируем датафрейм, содержащий только фильмы
# с порядковыми номера месяцев релиза 12, 1, 2
# (применим множественное условие "ИЛИ")
winter_movies = data[(data['release_month'] == 12)
                     | (data['release_month'] == 1)
                     | (data['release_month'] == 2)]

# Разобьем строки с именами режиссеров
# Продублируем строки фильмов, снятых несколькими режиссерами
# Определим для каждой такой строки "своего" режиссера из команды
winter_movies.director = winter_movies.director.str.split('|', expand=True)

winter_movies.director.value_counts()

Peter Jackson        7
Clint Eastwood       6
Steven Soderbergh    6
Adam Shankman        4
Martin Scorsese      4
                    ..
Michel Gondry        1
Carl Rinsch          1
Tommy Wirkola        1
John Polson          1
Chris Weitz          1
Name: director, Length: 331, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [34]:
answers['24'] = '5. Four By Two Productions'

# +

# Применим функцию, добавим в датафрейм столбец с длиной названия
data['len_title'] = data.original_title.apply(lambda x:len(x))

# Разобьем строки с названиями студий
# Продублируем строки фильмов, снятых несколькими студиями
# Определим для каждой такой строки "свою" студию из команды
data['studio_name'] = data.production_companies.str.split('|')
movies_studio_divided = data.explode('studio_name')

# Построим сводную таблицу из названий студий и средней длины
# названий фильмов, применим агрегирующую фунцию mean
avg_film_name_len_by_studio = pd.pivot_table(movies_studio_divided,
                                             values='len_title', columns=['studio_name'], aggfunc='mean')

# Отсортируем таблицу по значению len_title и транспонируем таблицу
avg_film_name_len_by_studio.T.sort_values('len_title', ascending=False)

                            len_title
studio_name
Four By Two Productions          83.0
Jim Henson Company, The          59.0
Dos Corazones                    47.0
Polsky Films                     46.0
Museum Canada Productions        46.0
...                               ...
Everest Entertainment             3.0
Berlanti Productions              3.0
Global Entertainment Group        2.0
XM2 Productions                   2.0
Ixtlan Productions                2.0

[1771 rows x 1 columns]

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [35]:
answers['25'] = '3. Midnight Picture Show'

# +

# Продолжаем работать с полученным ранее датафреймом,
# в котором для фильмов, снятых несколькими студиями,
# продублированы строки и последовательно указаны студии по одной в строке
# movies_studio_divided

# Добавим в датафрейм столбец, содержащий строки из слов текста описания
movies_studio_divided['overview_words'] = movies_studio_divided.overview.str.split(' ')

# Для каждой строки датафрейма посчитаем количество слов в тексте описания
movies_studio_divided['len_overview'] = movies_studio_divided.overview_words.apply(lambda x:len(x))

# Построим сводную таблицу из названий студий и средней длины
# описаний фильмов, применим агрегирующую фунцию mean
avg_overview_len_by_studio = pd.pivot_table(movies_studio_divided,
                                             values='len_overview', columns=['studio_name'], aggfunc='mean')

# Отсортируем таблицу по значению len_title и транспонируем таблицу
avg_overview_len_by_studio.T.sort_values('len_overview', ascending=False)

                                       len_overview
studio_name
Midnight Picture Show                         175.0
Heineken Branded Entertainment                161.0
Room 9 Entertainment                          161.0
98 MPH Productions                            159.0
Brookwell-McNamara Entertainment              156.0
...                                             ...
Henceforth                                     13.0
Our Stories Films                              13.0
London Boulevard                               13.0
Motion Picture Corporation of America          11.0
Empire Pictures                                11.0

[1771 rows x 1 columns]

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [36]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

# +

# Определим количество фильмов, входящих в 1% от общего количества
one_percent = round(len(data)*0.01)-1

# Отсортируем фильмы по рейтингу
sorted_by_rating = data.sort_values(by='vote_average', ascending=False)

# Отобразим 1% фильмов датафрейма, имеющих самый высокий рейтинга
top_one_percent = sorted_by_rating.head(one_percent)

# Проверки вхождения фильмов из предложенного варианта ответа
checklist = []
for line in top_one_percent['original_title']:
    if 'Inside Out' == line or 'The Dark Knight' == line or '12 Years a Slave' == line:
        checklist.append(line)

checklist

['The Dark Knight', 'Inside Out', '12 Years a Slave']

In [18]:
# Решение с использованием метода quantile
top_one_list = data[data['vote_average']>data.quantile(0.99, numeric_only=True)
     ['vote_average']]['original_title']

# Проверки вхождения фильмов из предложенного варианта ответа
checklist = []
for line in top_one_list:
    if 'Inside Out' == line or 'The Dark Knight' == line or '12 Years a Slave' == line:
        checklist.append(line)

checklist

['Inside Out', 'The Dark Knight', '12 Years a Slave']

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [8]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

# +

# Создадим список, в который будем помещать пары актеров
actors_pairs = []
# Пройдем построчно датафрейм
for cast in data.cast.str.split('|'):
    # Продублируем строки для каждого фильма по количеству пар актеров
    # Применим метод combinations для перебора вариантов пар
    actors_pairs.extend(list(combinations(cast, 2)))

# Посчитаем количество вхождения пар в список actors_pairs
pairs_counter = pd.Series(actors_pairs).value_counts()
pairs_counter.head(5)

(Daniel Radcliffe, Rupert Grint)       8
(Daniel Radcliffe, Emma Watson)        8
(Rupert Grint, Emma Watson)            7
(Ben Stiller, Owen Wilson)             6
(Johnny Depp, Helena Bonham Carter)    6
dtype: int64

ВАРИАНТ 2

In [7]:
actors_pairs = [] 
for cast in data.cast.str.split('|'):
    actors_pairs.extend(list(combinations(cast, 2)))

# Применим счетчик из набора collections с методом,
# отдающим на выход наиболее часто встречающуюся пару актеров
Counter(actors_pairs).most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

# Submission

In [39]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [40]:
# и убедиться что ни чего не пропустил)
len(answers)

27